@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Asegúrate de que estos estilos solo afecten a la página de registro */
.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  width: 400px;
  text-align: center;
  animation: fadeIn 1s ease-in;
}

.register-form h2 {
  color: #007BFF;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.register-form p {
  color: #777777;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333333;
  font-weight: bold;
  font-size: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007BFF;
  outline: none;
}

.register-button {
  background-color: #FF3B30;
  color: #ffffff;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #e32c28;
}

.login-link {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.login-link a {
  color: #007BFF;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}